img/
tfbioSupport/
tmpdata/
/Preprocess/pdb_1.ids
/model/
/DatasetMng/.pytest_cache/
/Preprocess/.pytest_cache/
/train/.pytest_cache/
/train/AutogluonModels/
/util/.pytest_cache/
/Preprocess/BindingData_ign.csv
/Preprocess/BindingData_ign2013.csv
